<div class="section">

    <div class="text-1 text-sm">
        1. Erheben und Verwenden von IP-Adressen
    </div>

    <div class="text-2 text-xs">
        Einem Computer, der eine Verbindung mit dem Internet herstellt, wird durch einen Internetdienstanbieter eine
        eindeutige Nummer zugewiesen. Diese ist die Internet Protocol (IP)-Adresse. Je nach Dienst des Nutzers kann
        diesem durch den Provider jedes Mal eine andere Adresse zugewiesen werden, wenn der Nutzer eine Verbindung mit
        dem Internet herstellt.
        Da IP-Adressen üblicherweise in länderbasierten Blöcken zugewiesen werden, kann eine IP-Adresse oftmals dazu
        verwendet werden, das Land zu identifizieren, in dem mit diesem Computer eine Verbindung mit dem Internet
        hergestellt wird. Wenn Sie unsere Websites besuchen, zeichnet unser Web-Server temporär folgendes
        Serverprotokoll auf: die IP-Adresse, den Namen der abgerufenen Datei, Datum und Uhrzeit des Abrufs, die
        übertragene Datenmenge, die Meldung über den erfolgreichen Abruf, den Browsertyp nebst Version, das
        Betriebssystem des Nutzers, die Referrer URL (die zuvor besuchte Seite) und den anfragenden Provider. Die
        Erhebung und Verwendung dieser Protokolldaten erfolgt durch uns zum Zweck der Systemsicherheit und der
        funktionsgerechten Gestaltung der Website. Soweit dies nicht der Fall ist, werden IP-Adressen durch uns vor
        einer weiteren Verwendung so gekürzt, dass ein eventueller Personenbezug nicht mehr möglich ist. Treten Sie mit
        uns in ein Vertragsverhältnis, erfolgt die Erhebung und Verwendung der Protokolldaten für Zwecke der
        Vertragsdokumentation und der Begegnung von Missbrauch.
    </div>

    <div class="text-3 text-xs">
        Soweit in unsere Websites Inhalte Dritter, wie zum Beispiel Videos, Kartenmaterial, RSS-Feeds, Grafiken oder
        Social Plugins von anderen Diensteanbietern (Websites), eingebunden werden, setzt dies technisch immer voraus,
        dass diese Diensteanbieter (“Dritt-Anbieter”) die IP-Adresse der Nutzer wahrnehmen. Denn ohne die IP-Adresse
        könnten sie ihre Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die
        Darstellung dieser Inhalte erforderlich. Wir haben keinen Einfluss darauf, falls die Dritt-Anbieter die
        IP-Adresse z.B. für statistische oder andere Zwecke verwenden. Soweit uns dies bekannt ist, klären wir die
        Nutzer nachfolgend darüber auf.
    </div>

    <div class="text-4 text-xs">
        Wir weisen darauf hin, dass die internetbasierte Datenübertragung Sicherheitslücken aufweist und ein lückenloser
        Schutz vor Zugriffen durch Dritte somit unmöglich ist.
    </div>

</div>