<div class="row section" id="about-us1">

    <div class="col-xl-6 col-12 left-panel">

        <div class="text-1 text-md">
            Technologie-Unternehmen mit
            innovativen Plattformlösungen
        </div>

        <div class="text-2 text-sm">
            Die RoccSolution ist ein junges Technologie-Unternehmen, das erfahrene Talente aus der
            Finanzwelt, dem eCommerce und der Softwareentwicklung zusammenbringt. Das verschafft
            uns einen ganzheitlichen Blick auf Beyond Banking. Unser Ziel ist es, Finanzdienstleister zu
            den Betreibern des regionalen Ökosystems zu verhelfen. So verbinden unsere Lösungen die
            digitale mit der analogen Welt und können regional ausgerichtet werden.
            Mit unserer White Label ROCC Core Plattform haben wir hierfür die Basis geschaffen.
            Darüber hinaus bieten wir eine Auswahl an modularen individualisierbaren Anwendungen.
        </div>

        <div class="text-3 text-sm">
            Unsere Expertise: Nicht nur reiner Umsetzer, sondern Impulsgeber und Ihr Begleiter von der
            Ideenentwicklung bis zum Go-Live.
        </div>

        <div class="counter">

            <div class="counter-1">

                <div class="content">
                    <div class="number text-lg">
                        {{counter1}}
                    </div>

                    <div class="text text-sm">
                        Jahre Banking
                    </div>
                </div>

            </div>

            <div class="counter-2">

                <div class="content">
                    <div class="number text-lg">
                        {{counter2}}
                    </div>

                    <div class="text text-sm">
                        Jahre Softwareentwicklung
                    </div>
                </div>

            </div>

            <div class="counter-3">

                <div class="content">
                    <div class="number text-lg">
                        {{counter3}}
                    </div>

                    <div class="text text-sm">
                        Jahre eCommerce
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="col-xl-6 col-12 right-panel d-flex align-items-center justify-content-center">

        <div id="about_animation_container">
            <canvas id="about_canvas"></canvas>
            <div id="about_dom_overlay_container">
            </div>
        </div>

        <div onclick="about_init()" id="about_trigger-click"></div>

    </div>

</div>