<div class="section">

    <div class="text text-sm">
        6. Bestandsdaten und Nutzungsdaten
    </div>

    <div class="text text-xs">
        Wir nutzen Ihre Daten für die folgenden Vorgänge:
    </div>

    <div class="text text-xs">
        - Für die Ausführung Ihrer Einkäufe, Buchungen bzw. andere Aufträge.
    </div>

    <div class="text text-xs">
        Sowie für die folgenden Vorgänge:
    </div>

    <div class="text text-xs">
        - Um Ihnen die Möglichkeiten eines individuellen Services sowie die optimale Nutzung unserer Website aufgrund
        der in Ihrem Benutzerprofil hinterlegten Informationen anzubieten.<br>
        - Um Ihnen zudem ganz individuell Angebote und Informationen zukommen zu lassen, die für Sie persönlich
        interessant sind.
    </div>

    <div class="text text-xs">
        Für den Fall, dass darüber hinaus über unsere Website personenbezogene Daten erhoben und verwendet werden,
        soweit dies für die Begründung, inhaltliche Ausgestaltung oder Änderung eines Vertrages über die Nutzung eines
        Telemediums erforderlich ist (Bestandsdaten) bzw. um das Telemedium selbst zu ermöglichen oder abzurechnen
        (Nutzungsdaten), erläutern wir Art, Umfang und Zweck in der jeweiligen Datenerfassungsmaske.
    </div>

</div>