<div class="row section">

    <div class="col-xl-6 col-12 left-panel">

        <div class="text-1 text-md">
            <span class="line">&nbsp;</span>
            <span class="text">
                Modularer Aufbau der Plattform
            </span>
        </div>

        <div class="text-2 text-sm">
            Mit unserer ROCC Core schaffen Sie end-to-end-Lösungen, indem Sie Eigen- und
            Partneranwendungen anbinden und vernetzen. Für weitere fremde Service- und
            Technologieanwendungen (z.B. KYC - Know Your Customer, Voice Commerce,
            künstliche Intelligenz als Vertriebsassistent) ist unsere Plattform über die API-
            Schnittstelle ebenfalls offen. Basismodule, wie ein regionaler Marktplatz, sind
            bereits in der ROCC Core integriert.
        </div>

        <div class="image">
            <!-- <img src="assets/img/home-5.png"> -->
            <div id="platform_animation_container">
                <canvas id="platform_canvas" width="1024" height="768"></canvas>
                <div id="platform_dom_overlay_container">
                </div>
            </div>
            <div onclick="platform_init()" id="platform_trigger-click"></div>
        </div>

    </div>

    <div class="col-xl-6 col-12 right-panel">

        <div class="row block-1">

            <div class="col-xl-6 col-12">

                <div class="text-1 text-md">
                    Individualisierung
                </div>

                <div class="text-2">
                    <p>&nbsp;</p>
                </div>

                <div class="text-3 text-sm">
                    Banken können Anwendungen
                    individualisieren.
                </div>

            </div>

            <div class="col-xl-6 col-12">

                <div class="image">
                    <img src="assets/img/home-6.png">
                </div>

            </div>

        </div>

        <div class="row block-2">

            <div class="col-xl-6 col-12">

                <div class="text-1 text-md">
                    Anwendungen
                </div>

                <div class="text-2">
                    <p>&nbsp;</p>
                </div>

                <div class="text-3 text-sm">
                    Die Plattform ist modular
                    erweiterbar. Auch fremde
                    Anwendungen lassen sich
                    integrieren. Anwendungen
                    können vernetzt werden.
                </div>

            </div>

            <div class="col-xl-6 col-12">

                <div class="image">
                    <img src="assets/img/home-7.png">
                </div>

            </div>

        </div>

        <div class="row block-3">

            <div class="col-xl-6 col-12">

                <div class="text-1 text-md">
                    Plattform
                </div>

                <div class="text-2">
                    <p>&nbsp;</p>
                </div>

                <div class="text-3 text-sm">
                    ROCC Core bildet die technische
                    Basis für einen modularen
                    Aufbau und Vernetzung der
                    Anwendungen.
                </div>

            </div>

            <div class="col-xl-6 col-12">

                <div class="image">
                    <img src="assets/img/home-8.png">
                </div>

            </div>

        </div>
    </div>

</div>