<div class="section">

    <div class="text-1 text-sm">
        2. Eigene Cookies
    </div>

    <div class="cookie-list text-xs">

        <div class="cookie">

            <span>
                a) Beschreibung und Umfang der Datenverarbeitung
            </span>

            <span>
                Wir verwenden auf unserer Seite sog. Cookies zum Wiedererkennen mehrfacher Nutzung unseres Angebots,
                durch denselben Nutzer/Internetanschlussinhaber. Cookies sind kleine Textdateien, die Ihr
                Internet-Browser auf Ihrem Rechner ablegt und speichert. Sie dienen dazu, unseren Internetauftritt und
                unsere Angebote zu optimieren. Es handelt sich dabei zumeist um sog. “Session-Cookies”, die nach dem
                Ende Ihres Besuches wieder gelöscht werden.
            </span>

        </div>

        <div class="cookie">

            <span>
                b) Rechtsgrundlage für die Datenverarbeitung
            </span>

            <span>
                Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung technisch notwendiger
                Cookies ist Art. 6 Abs. 1 lit. f DSGVO.
            </span>

            <span>
                Im Falle der Verarbeitung personenbezogener Daten unter Verwendung von Cookies zu Analysezwecken,
                handelt es sich bei der Rechtsgrundlage nach Art. 6 Abs. 1 lit. a der DSGVO um eine vorliegende
                Einwilligung des Nutzers.
            </span>

        </div>

        <div class="cookie">

            <span>
                c) Zweck der Datenverarbeitung
            </span>

            <span>
                Der Zweck technisch notwendiger Cookies ist, die Nutzung unserer Website für die Nutzer zu vereinfachen.
                Einige Funktionen unserer Internetseite können ohne den Einsatz von Cookies nicht angeboten werden.
                Daher ist es notwendig, dass der Browser auch nach einem Seitenwechsel wiedererkannt wird.
            </span>

            <span>
                Für folgende Anwendungen benötigen wir beispielsweise Cookies:

            </span>

            <div class="list">
                <div class="item">
                    <div>
                        1.&nbsp;
                    </div>
                    <div>
                        Warenkorb
                    </div>
                </div>
                <div class="item">
                    <div>
                        2.&nbsp;
                    </div>
                    <div>
                        Übernahme von Spracheinstellungen
                    </div>
                </div>
                <div class="item">
                    <div>
                        3.&nbsp;
                    </div>
                    <div>
                        Merken von Suchbegriffen
                    </div>
                </div>
            </div>

            <span>
                Die durch technisch notwendige Cookies erhobenen Nutzerdaten werden von uns nicht zur Erstellung von
                Nutzerprofilen verwendet. Teilweise geben Cookies Informationen ab, um Sie automatisch wiederzuerkennen.
                Diese Wiedererkennung erfolgt aufgrund der in den Cookies gespeicherten IP-Adresse. Die so erlangten
                Informationen dienen dazu, unsere Angebote zu optimieren und Ihnen einen leichteren Zugang auf unsere
                Seite zu ermöglichen. Durch Analyse-Cookies erfahren wir, wie die Website genutzt wird und können so
                unser Angebot stetig optimieren.
            </span>

            <span>
                In diesen Zwecken liegt auch unser berechtigtes Interesse in der Verarbeitung der personenbezogenen
                Daten nach Art. 6 Abs. 1 lit. F DSGVO.
            </span>

        </div>

        <div class="cookie">

            <span>
                d) Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit
            </span>

            <span>
                Cookies werden auf Ihrem Rechner gespeichert und daraufhin an unsere Seite übermittelt. Somit obliegt
                Ihnen die vollständige Kontrolle über erhobene Cookies.
            </span>

            <span>
                Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihres Browsers verhindern.
                Diese finden Sie für die jeweiligen Browser unter den folgenden Links:
            </span>

            <div class="explorer-list">

                <div class="explorer">

                    <div class="name">
                        Internet Explorer
                    </div>

                    <div class="url">
                        http://windows.microsoft.com/de-DE/windows-vista/Block-or-allow-cookies
                    </div>

                </div>

                <div class="explorer">

                    <div class="name">
                        Safari
                    </div>

                    <div class="url">
                        https://support.apple.com/kb/ph21411?locale=de_DE
                    </div>

                </div>

                <div class="explorer">

                    <div class="name">
                        Chrome
                    </div>

                    <div class="url">
                        http://support.google.com/chrome/bin/answer.py?hl=de&hlrm=en&answer=95647
                    </div>

                </div>

                <div class="explorer">

                    <div class="name">
                        Firefox
                    </div>

                    <div class="url">
                        https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen
                    </div>

                </div>

                <div class="explorer">

                    <div class="name">
                        Opera
                    </div>

                    <div class="url">
                        http://help.opera.com/Windows/10.20/de/cookies.html
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>