<div class="row section">

    <div class="col-xl-6 col-12 left-panel">

        <div class="text-1 text-md">
            <span class="line">&nbsp;</span>
            <span class="text">
                Als Betreiber der ROCC Core Plattform
                steht Ihre Bank im Mittelpunkt des
                regionalen Ökosystems
            </span>
        </div>

        <div class="text-2 text-sm">
            Als Plattformbetreiber haben Sie die Gestaltungshoheit über:
            <br><br>
            • Geschäftsprozesse, Angebote und Services
            <br>
            • Vernetzung der Plattformakteure sowie
            <br>
            • Anbindung der Anwendungen und Technologien
            <br><br>
            Sie bieten das gesamte Kunden-Ökosystem auf nur einem
            intuitiven Front-End an. Passwortsalate, Spickzettel und
            komplizierte Wiederherstellungsprozesse gehören der
            Vergangenheit an.
        </div>
    </div>

    <div class="col-xl-6 col-12 right-panel">

        <!-- <img src="assets/img/home-10.png"> -->

        <div id="scheibe_animation_container">
            <canvas id="scheibe_canvas"></canvas>
            <div id="scheibe_dom_overlay_container">
            </div>
        </div>

        <div onclick="scheibe_init()" id="scheibe_trigger-click"></div>

    </div>

</div>