<div class="row section">

    <div class="col-xl-4 col-12">

        <div class="row panel-1">

            <div class="text-1">

                Eigene Angebote

            </div>

            <div class="text-2">

                +

            </div>

        </div>

    </div>

    <div class="col-xl-4 col-12">

        <div class="row panel-2">

            <div class="text-1">

                Vermittlung Partnerangebote

            </div>

            <div class="text-2">

                =

            </div>

        </div>

    </div>

    <div class="col-xl-4 col-12">

        <div class="row panel-3">

            <div class="text">

                end-to-end vernetzte Kundenreise

            </div>

        </div>

    </div>

</div>