<div class="section">

    <div class="row text text-md">

        <span>Use Case Bauen/Wohnen</span>

    </div>

    <div class="row content-panel-above text-sm">

        <div class="col-lg-4 col-12 left">

            <span>✓&nbsp;&nbsp;</span>
            <span>
                Integration von definierten Immobilienportalen
                (Kauf, Verkauf, Informationen, Bewertung)
            </span>

        </div>

        <div class="col-lg-4 col-12 middle">

            <span>✓&nbsp;&nbsp;</span>
            <span>
                Finanzierungen sowie Absicherungen
                der Immobilie durch die Bank
            </span>

        </div>

        <div class="col-lg-4 col-12 right">

            <span>✓&nbsp;&nbsp;</span>
            <span>
                Anbindung von Werkzeug- und
                Materialhändler im Online-Shop
            </span>

        </div>
    </div>

    <div class="row content-panel-below text-sm">

        <div class="col-lg-4 col-12 left">

            <span>✓&nbsp;&nbsp;</span>
            <span>
                Anbindung an ein Immobilien-Infoportal
                (Mode, Einrichtung, gesundes Wohnen etc.)
            </span>

        </div>

        <div class="col-lg-4 col-12 middle">

            <span>✓&nbsp;&nbsp;</span>
            <span>
                Anbindungen von geprüften Dienstleistern
                aus der Region (Handwerker, Umzugsfirmen...)
            </span>

        </div>

        <div class="col-lg-4 col-12 right">

            <span>✓&nbsp;&nbsp;</span>
            <span>
                Anbindung von öffentlichen Instituten und
                Angebot automatisierbarer Behördenprozesse
            </span>

        </div>
    </div>

</div>