<div class="section">

    <div class="text text-sm">
        5. Datenverarbeitung außerhalb des EWR
    </div>

    <div class="text text-xs">
        Ihre Daten werden auf unsere Veranlassung üblicherweise nicht in Staaten außerhalb des Anwendungsbereichs der
        Richtlinie 95/46/EG des Europäischen Parlaments und des Rates vom 24. Oktober 1995 zum Schutz natürlicher
        Personen bei der Verarbeitung personenbezogener Daten und zum freien Datenverkehr (ABl. EG Nr. L 281 S. 31)
        verarbeitet, soweit nicht die in dieser Datenschutzerklärung genannten Drittanbieter betroffen sind, welche
        ihren Sitz außerhalb des Europäischen Wirtschaftsraumes (EWR) haben. Dies betrifft insbesondere die Social
        Plugins von Facebook und Google+ sowie die Mess- bzw. Auswertungsverfahren von Google (Google Analytics).
        Darüber hinaus erfolgt eine Übermittlung, sofern dies zu Zwecken der Vertragserfüllung und –durchführung (z.B.
        an Fluggesellschaften, Hotels etc.) erforderlich ist.
    </div>

</div>