<div class="row section">

    <div class="col-xl-4 col-12 panel-1">

        <div class="text-1 text-lg">

            Die Infrastruktur
            für Ihr regionales
            Ökosystem

        </div>

        <div class="text-2 text-sm">

            Die ROCC Core ist ein Softwarekern mit einem integrierten
            Marktplatz. Unsere Schnittstellenlösung orchestriert Ihre
            Anwendungen auf einem einzigen Front-End. Auch fremde
            Anwendungen können integriert werden. Die Anwendungen
            lassen sich untereinander vernetzen.

        </div>

        <div class="text-3 text-sm">

            Als Plattformbetreiber haben Sie die
            Gestaltungshoheit über:

        </div>

        <div class="text-4 text-sm">

            <span>• Geschäftsprozesse, Angebote und Services</span><br>
            <span>• Vernetzung der Plattformakteure sowie</span><br>
            <span>• Anbindung der Anwendungen und Technologien</span><br>

        </div>

    </div>

    <div class="col-xl-4 col-md-7 col-sm-6 col-12 panel-2">

        <img src="assets/img/core-1.png">

    </div>

    <div class="col-xl-4 col-md-5 col-sm-6 col-12 panel-3">

        <div class="list">

            <div class="list-item text-sm">
                <span>✓&nbsp;&nbsp;</span>
                <span>Nur eine Anmeldung und ein Passwort</span>
            </div>

            <div class="list-item text-sm">
                <span>✓&nbsp;&nbsp;</span>
                <span>Schnell, effizient und intuitiv</span>
            </div>

            <div class="list-item text-sm">
                <span>✓&nbsp;&nbsp;</span>
                <span>Flexible Benutzerverwaltung</span>
            </div>

            <div class="list-item text-sm">
                <span>✓&nbsp;&nbsp;</span>
                <span>Hohe Skalierung</span>
            </div>

            <div class="list-item text-sm">
                <span>✓&nbsp;&nbsp;</span>
                <span>Device-unabhängig</span>
            </div>

            <div class="list-item text-sm">
                <span>✓&nbsp;&nbsp;</span>
                <span>Intelligente Datenbankstruktur</span>
            </div>

            <div class="list-item text-sm">
                <span>✓&nbsp;&nbsp;</span>
                <span>State-of-the-Art Infrastruktur</span>
            </div>

            <div class="list-item text-sm">
                <span>✓&nbsp;&nbsp;</span>
                <span>Modernstes Schnittstellenmanagement</span>
            </div>

            <div class="list-item text-sm">
                <span>✓&nbsp;&nbsp;</span>
                <span>Zukunftssichere API von Managed Services</span>
            </div>

            <div class="list-item text-sm">
                <span>✓&nbsp;&nbsp;</span>
                <span>Rechtssicher</span>
            </div>

        </div>

    </div>

</div>