<div class="section" id="home1" (window:resize)="onResize()">

    <div class="row fore-layer">

        <div class="col-xl-6 col-12 left-panel">
            <div class="text-1 text-lg">
                Mit uns zum
                Beyond-Banking
                Ökosystem
            </div>
            <div class="text-2 text-sm">
                Wir sehen in regionalen Banken einen Vertrauenspartner und
                Begleiter ihrer Kunden in allen Lebenswelten – ‚Beyond
                Banking‘. Unsere ROCC Core Plattform ist die Infrastruktur für
                ein vernetztes Beyond-Banking-Ökosystem.
            </div>
            <div class="text-3 text-sm">
                <div class="line-button" (click)="loadOverview()">Jetzt loslegen</div>
            </div>
        </div>
    </div>

    <div class="row back-layer">
        <div class="col-12 right-panel">
            <img src="assets/img/home-1.png" (load)="onResize()">
        </div>
    </div>

</div>