<div class="row section">

    <div class="panel text-sm">

        <div class="text">

            <span>RoccSolution GmbH</span>
            <span>Haßlinghauser Str. 156</span>
            <span>58285 Gevelsberg</span>

        </div>

        <div class="text">

            <span>Telefon: +49 (0) 2332/9537870</span>
            <span>E-Mail: mail@roccsolution.com</span>

        </div>

        <div class="text">

            <span>Vertreten durch:</span>
            <span>Geschäftsführer Mario Spano</span>
            <span>Geschäftsführer Dr. Markus Braunewell</span>

        </div>

        <div class="text">

            <span>Registereintrag:</span>
            <span>Eingetragen im Handelsregister.</span>
            <span>Registergericht: Amtsgericht Hagen</span>
            <span>Registernummer: HRB 11524</span>

        </div>

        <div class="text">

            <span>Umsatzsteuer-ID:</span>
            <span>Umsatzsteuer-Identifikationsnummer</span>
            <span>nach §27a Umsatzsteuergesetz:</span>
            <span>DE123456789</span>

        </div>

        <div class="text">

            <span>Erlaubnis gemäß §34c GewO, Aufsichtsbehörde:</span>
            <span>Stadt Muster</span>
            <span>Ordnungs- und Straßenverkehrsamt</span>
            <span>Muster Str. 15</span>
            <span>58089 Hagen</span>

        </div>

        <div class="text">

            <span>Bildrechte:</span>
            <span>RoccSolution GmbH</span>
            <span>www.shutterstock.com</span>

        </div>

    </div>

</div>