@import "../../../../../assets/scss/custom/variables";

.section {
    margin-top: 200px;
    justify-content: center;

    .panel {
        text-align: center;

        .text {
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .section {
        margin-top: 160px;
    }
}

@media only screen and (max-width: 991px) {
    .section {
        margin-top: 140px;
    }
}

@media only screen and (max-width: 767px) {
    .section {
        margin-top: 120px;
    }
}

@media only screen and (max-width: 575px) {
    .section {
        margin-top: 100px;
    }
}
