<div class="row section">

    <div class="col-xl-6 col-12 panel-1">

        <div class="image">

            <img src="assets/img/core-2.png">

        </div>

        <div class="text-1 text-md">

            Zeitersparnis, Sicherheit,
            Bequemlichkeit

        </div>

        <div class="text-2 text-sm">

            <span>• Schnelle Lösungen für tägliche Bedürfnisse</span>
            <span>• Vertrauen in die Anbieter</span>
            <span>• Einfache Lösungen für komplexe Bedürfnisse</span>

        </div>

    </div>

    <div class="col-xl-6 col-12 panel-2">

        <div class="image">

            <img src="assets/img/core-3.png">

        </div>

        <div class="text-1 text-md">

            Ertragssteigerung,
            Prozessoptimierung

        </div>

        <div class="text-2 text-sm">

            <span>• Erhöhung Kundenreichweite</span>
            <span>• Services (z. B. Auftragsverwaltung, Buchhaltungsservices)</span>
            <span>• Vertriebs- und Werbeplattform</span>

        </div>

    </div>

    <div class="col-12 logo-line">

        <app-logo-line></app-logo-line>

    </div>

    <div class="col-xl-6 col-12 panel-3">

        <div class="image">

            <img src="assets/img/core-4.png">

        </div>

        <div class="text-1 text-md">

            Flexibel und modern
            in der Bank IT

        </div>

        <div class="text-2 text-sm">

            <span>• Moderne Infrastruktur</span>
            <span>• Anbindung innovativer Marktlösungen (z. B. KI)</span>
            <span>• Netzwerkeffekte</span>

        </div>

    </div>

    <div class="col-xl-6 col-12 panel-4">

        <div class="image">

            <img src="assets/img/core-5.png">

        </div>

        <div class="text-1 text-md">

            360° Kundenorientierung

        </div>

        <div class="text-2 text-sm">

            <span>• Sicherung Kundenkontakt</span>
            <span>• Ansprache neuer Kundengruppen</span>
            <span>• Kundenmehrwerte</span>

        </div>

    </div>

</div>