@import "../../../../../../assets/scss/custom/variables";

.section {
    margin-top: 160px;

    .panel-1,
    .panel-2,
    .panel-3,
    .panel-4 {
        padding-left: 110px;
        padding-right: 110px;

        .image {
            text-align: center;

            img {
                width: 100%;
            }
        }

        .text-1 {
            font-weight: bold;
            margin-top: 70px;
        }

        .text-2 {
            span {
                margin-top: 20px;
                display: block;
            }
        }
    }

    .panel-3,
    .panel-4 {
        .text-1 {
            padding-right: 50px;
        }
    }

    .logo-line {
        margin-top: 50px;
        margin-bottom: -50px;
    }
}

/* non-default media query*/
@media only screen and (max-width: 1899px) {
    .section {
        .panel-1,
        .panel-2,
        .panel-3,
        .panel-4 {
            padding-left: 100px;
            padding-right: 100px;
        }

        .panel-3,
        .panel-4 {
            .text-1 {
                padding-right: 0px;
            }
        }
    }
}

@media only screen and (max-width: 1499px) {
    .section {
        .panel-1,
        .panel-2,
        .panel-3,
        .panel-4 {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

@media only screen and (max-width: 1399px) {
    .section {
        .panel-1,
        .panel-2,
        .panel-3,
        .panel-4 {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
/* non-default media query*/

@media only screen and (max-width: 1199px) {
    .section {
        margin-top: 128px;

        .panel-1,
        .panel-2,
        .panel-3,
        .panel-4 {
            margin-bottom: 40px;
            padding-left: 0px;
            padding-right: 0px;

            .image {
                img {
                    width: 60%;
                }
            }

            .text-1 {
                margin-top: 56px;
            }

            .text-2 {
                span {
                    margin-top: 16px;
                }
            }
        }

        .logo-line {
            margin-top: 10px;
            margin-bottom: 50px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .section {
        margin-top: 112px;

        .panel-1,
        .panel-2,
        .panel-3,
        .panel-4 {
            margin-bottom: 35px;

            .image {
                img {
                    width: 70%;
                }
            }

            .text-1 {
                margin-top: 49px;
            }

            .text-2 {
                span {
                    margin-top: 14px;
                }
            }
        }

        .logo-line {
            margin-bottom: 40px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .section {
        margin-top: 96px;

        .panel-1,
        .panel-2,
        .panel-3,
        .panel-4 {
            margin-bottom: 30px;

            .image {
                img {
                    width: 80%;
                }
            }

            .text-1 {
                margin-top: 42px;
            }

            .text-2 {
                span {
                    margin-top: 12px;
                }
            }
        }

        .logo-line {
            margin-top: 0px;
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .section {
        margin-top: 80px;

        .panel-1,
        .panel-2,
        .panel-3,
        .panel-4 {
            margin-bottom: 25px;

            .image {
                img {
                    width: 90%;
                }
            }

            .text-1 {
                margin-top: 35px;
            }

            .text-2 {
                span {
                    margin-top: 10px;
                }
            }
        }

        .logo-line {
            margin-bottom: 20px;
        }
    }
}
