<div class="section">

    <div class="text-1 text-sm">
        3. Newsletter Marketing
    </div>

    <div class="text-2 text-sm">
        3.1 Abonnement unseres Newsletters
    </div>

    <div class="newsletter-list text-xs">

        <div class="newsletter">

            <span>
                a) Beschreibung und Umfang der Datenverarbeitung
            </span>

            <span>
                Auf der Internetseite der roccomedia wird den Benutzern die Möglichkeit eingeräumt, den Newsletter
                unseres Unternehmens zu abonnieren. Welche personenbezogenen Daten bei der Bestellung des Newsletters an
                den für die Verarbeitung Verantwortlichen übermittelt werden, ergibt sich aus der hierzu verwendeten
                Eingabemaske.
            </span>

            <span>
                Die Firma Roccsolution informiert ihre Kunden und Geschäftspartner in regelmäßigen Abständen im Wege
                eines Newsletters über Angebote des Unternehmens. Der Newsletter unseres Unternehmens kann von der
                betroffenen Person grundsätzlich nur dann empfangen werden, wenn (1) die betroffene Person über eine
                gültige E-Mail-Adresse verfügt und (2) die betroffene Person sich für den Newsletterversand registriert.
                An die von einer betroffenen Person erstmalig für den Newsletterversand eingetragene E-Mail-Adresse wird
                aus rechtlichen Gründen eine Bestätigungsmail im Double-Opt-In-Verfahren versendet. Diese
                Bestätigungsmail dient der Überprüfung, ob der Inhaber der E-Mail-Adresse als betroffene Person den
                Empfang des Newsletters autorisiert hat.
            </span>

        </div>

        <div class="newsletter">

            <span>
                b) Rechtsgrundlage für die Datenverarbeitung
            </span>

            <span>
                Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten der Nutzer ist Art. 6 Abs. 1 lit. a
                DSGVO.
            </span>

        </div>

        <div class="newsletter">

            <span>
                c) Zweck der Datenverarbeitung
            </span>

            <span>
                Bei der Anmeldung zum Newsletter speichern wir ferner die vom Internet-Service-Provider (ISP) vergebene
                IP-Adresse des von der betroffenen Person zum Zeitpunkt der Anmeldung verwendeten Computersystems sowie
                das Datum und die Uhrzeit der Anmeldung. Die Erhebung dieser Daten ist erforderlich, um den (möglichen)
                Missbrauch der E-Mail-Adresse einer betroffenen Person zu einem späteren Zeitpunkt nachvollziehen zu
                können und dient deshalb der rechtlichen Absicherung des für die Verarbeitung Verantwortlichen.
            </span>

            <span>
                Die im Rahmen einer Anmeldung zum Newsletter erhobenen personenbezogenen Daten werden ausschließlich zum
                Versand unseres Newsletters verwendet. Ferner könnten Abonnenten des Newsletters per E-Mail informiert
                werden, sofern dies für den Betrieb des Newsletter-Dienstes oder eine diesbezügliche Registrierung
                erforderlich ist, wie dies im Falle von Änderungen am Newsletter-Angebot oder bei der Veränderung der
                technischen Gegebenheiten der Fall sein könnte. Es erfolgt keine Weitergabe der im Rahmen des
                Newsletter-Dienstes erhobenen personenbezogenen Daten an Dritte.
            </span>

        </div>

        <div class="newsletter">

            <span>
                d) Dauer der Speicherung
            </span>

            <span>
                Die Daten werden gelöscht, sobald sie für unsere Aufzeichnungszwecke nicht mehr benötigt werden. In
                unserem Fall werden die Daten nicht automatisch gelöscht, da nach Art. 6 Abs. 1 lit. F DSGVO ein
                berechtigtes Interesse zur Datenverarbeitung vorliegt und die Daten benötigt werden, um historische
                Nutzerdaten zur Erstellung von Zielgruppen (bspw. für Remarketing) beliebig lang genutzt werden können.
                Darüber hinaus können z.B. langfristige Analysen und fundierte Optimierungen durchgeführt werden.
            </span>

        </div>

        <div class="newsletter">

            <span>
                e) Widerspruchs- und Beseitigungsmöglichkeit
            </span>

            <span>
                Das Abonnement unseres Newsletters kann durch die betroffene Person jederzeit gekündigt werden. Die
                Einwilligung in die Speicherung personenbezogener Daten, die die betroffene Person uns für den
                Newsletter-Versand erteilt hat, kann jederzeit widerrufen werden. Zum Zwecke des Widerrufs der
                Einwilligung findet sich in jedem Newsletter ein entsprechender Link. Ferner besteht die Möglichkeit,
                sich jederzeit auch direkt auf der Internetseite des für die Verarbeitung Verantwortlichen vom
                Newsletter-Versand abzumelden oder dies dem für die Verarbeitung Verantwortlichen auf andere Weise
                mitzuteilen.
            </span>

        </div>

    </div>

    <div class="text-3 text-sm">
        3.2 Newsletter-Tracking
    </div>

    <div class="newsletter-list text-xs">

        <div class="newsletter">

            <span>
                a) Beschreibung und Umfang der Datenverarbeitung
            </span>

            <span>
                Die Newsletter de roccomedia enthalten sogenannte Zählpixel. Ein Zählpixel ist eine Miniaturgrafik, die
                in solche E-Mails eingebettet wird, welche im HTML-Format versendet werden, um eine
                Logdatei-Aufzeichnung und eine Logdatei-Analyse zu ermöglichen. Dadurch kann eine statistische
                Auswertung des Erfolges oder Misserfolges von Online-Marketing-Kampagnen durchgeführt werden. Anhand des
                eingebetteten Zählpixels kann die roccomedia erkennen, ob und wann eine E-Mail von einer betroffenen
                Person geöffnet wurde und welche in der E-Mail befindlichen Links von der betroffenen Person aufgerufen
                wurden.
            </span>

        </div>

        <div class="newsletter">

            <span>
                b) Rechtsgrundlage für die Datenverarbeitung
            </span>

            <span>
                Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten der Nutzer ist Art. 6 Abs. 1 lit. f
                DSGVO.
            </span>

        </div>

        <div class="newsletter">

            <span>
                c) Zweck der Datenverarbeitung
            </span>

            <span>
                Solche, über die in den Newslettern enthaltenen Zählpixel erhobenen, personenbezogenen Daten, werden von
                dem für die Verarbeitung Verantwortlichen gespeichert und ausgewertet, um den Newsletter-Versand zu
                optimieren und den Inhalt zukünftiger Newsletter noch besser den Interessen der betroffenen Person
                anzupassen.
            </span>

            <span>
                In diesen Zwecken liegt auch unser berechtigtes Interesse in der Verarbeitung der Daten nach Art. 6 Abs.
                1 lit. f DSGVO.
            </span>

        </div>

        <div class="newsletter">

            <span>
                d) Dauer der Speicherung
            </span>

            <span>
                Die Daten werden gelöscht, sobald sie für unsere Aufzeichnungszwecke nicht mehr benötigt werden. In
                unserem Fall werden die Daten nicht automatisch gelöscht, da nach Art. 6 Abs. 1 lit. F DSGVO ein
                berechtigtes Interesse zur Datenverarbeitung vorliegt und die Daten benötigt werden, um historische
                Nutzerdaten zur Erstellung von Zielgruppen (bspw. für Remarketing) beliebig lang genutzt werden können.
                Darüber hinaus können z.B. langfristige Analysen und fundierte Optimierungen durchgeführt werden.
            </span>

        </div>

        <div class="newsletter">

            <span>
                e) Widerspruchs- und Beseitigungsmöglichkeit
            </span>

            <span>
                Diese personenbezogenen Daten werden nicht an Dritte weitergegeben. Betroffene Personen sind jederzeit
                berechtigt, die diesbezügliche gesonderte, über das Double-Opt-In-Verfahren abgegebene,
                Einwilligungserklärung zu widerrufen. Nach einem Widerruf werden diese personenbezogenen Daten von dem
                für die Verarbeitung Verantwortlichen gelöscht. Eine Abmeldung vom Erhalt des Newsletters deutet die
                roccomedia automatisch als Widerruf.
            </span>

        </div>

    </div>

</div>