<div class="section" id="development1" (window:resize)="onResize()">

    <div class="row text-player">

        <div class="col-lg-5 col-12 text">

            <div class="text-1 text-md">

                RoccSolution ist Ihr Partner für individuelle Neuentwicklungen

            </div>

            <div class="text-2 text-sm">

                Wir verstehen uns nicht nur als reinen Technologie-
                Umsetzer nach Vorgabe, sondern entwickeln mit Ihnen
                Lösungen von der Ideenentwicklung bis zum Go-Live.
                Mit unseren Erfahrungen aus der Finanzwelt und zu den
                Einsatzmöglichkeiten der modernen Technologie sehen wir
                uns in der Lage, wertvolle Impulse geben zu können.
                Wir verstehen regionale Banken, denken im Sinne des
                Endkunden und zeigen Ihnen gleichzeitig als regionaler
                Finanzdienstleister einen Weg auf, um mit diesen Lösungen
                neue Erträge zu generieren.

            </div>

            <div class="text-3 text-sm">

                Sie möchten bereits während der Ideenentwicklung oder dem Prototyping Technologie-Experten einbinden?
                Sie suchen einen einfachen Zugang zu innovativen Technologien für Ihr Geschäftsmodell?
                Wir sind gerne Ihr Partner!

            </div>

            <div class="button text-sm">

                <div class="line-button" (click)="loadContact()">Kontakt aufnehmen</div>

            </div>
        </div>

        <div class="col-lg-7 col-12 player">

            <img src="assets/img/_player.png" (load)="onResize()">

        </div>

    </div>

    <div class="row scroll-down">

        <app-scroll-down></app-scroll-down>

    </div>

</div>