.footer {
    background-attachment: fixed;
    position: relative;
    line-height: 20px;

    .footer-nav {
        ul {
            padding-left: 0;
            margin-bottom: 0;
        }
    }
}
.footer nav > ul {
    list-style: none;
    font-weight: normal;
}
.footer nav > ul > li {
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center;
}
.footer nav > ul a:not(.btn) {
    display: block;
    margin-bottom: 3px;
    line-height: 1.6;
    opacity: 0.8;
}
.footer nav > ul a:not(.btn):hover,
.footer nav > ul a:not(.btn):focus {
    color: #777777;
    opacity: 1;
}
