<div class="section">

    <div class="text text-sm">
        4. Fremde Cookies & Tracking-Technologien
    </div>

    <div class="text text-xs">
        Soweit in unsere Webseiten Inhalte Dritter eingebunden werden, setzen diese Drittanbieter unter Umständen
        Cookies, was Sie in Ihrem Browser durch Vornahme bestimmter Einstellungen standardmäßig ebenfalls verhindern
        können.
    </div>

    <div class="text text-xs">
        Unsere Website verwendet zudem sog. Tracking-Technologien. Wir nutzen diese Technologien, um für Sie das
        Internetangebot interessanter zu gestalten. Diese Technik ermöglicht es, Internetnutzer, die sich bereits für
        unsere Website interessiert haben, auf den Websites unserer Partner (z.B. Facebook, Google) mit Werbung
        anzusprechen.
    </div>

    <div class="text text-sm">
        4.1 Google Analytics mit Anonymisierungsfunktion
    </div>

    <div class="foreign-list text-xs">

        <div class="foreign">

            <span>
                a) Beschreibung und Umfang der Datenverarbeitung
            </span>

            <span>
                Wir setzen auf unserer Seite Google-Analytics, einen Webanalysedienst der Firma Google Inc., 1600
                Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“ ein. Google Analytics verwendet
                sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und hierdurch eine Analyse der
                Benutzung der Website durch Sie ermöglichen.
            </span>

            <span>
                Die durch diese Cookies erzeugten Informationen, beispielsweise Zeit, Ort und Häufigkeit Ihres
                Website-Besuchs einschließlich Ihrer IP-Adresse, werden an Google in den USA übertragen und dort
                gespeichert.
            </span>

            <span>
                Wir verwenden auf unserer Website Google Analytics mit einer IP-Anonymisierungsfunktion. Ihre IP-Adresse
                wird in diesem Fall von Google schon innerhalb von Mitgliedstaaten der Europäischen Union oder in
                anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum gekürzt und dadurch
                anonymisiert.
            </span>

            <span>
                Google wird diese Informationen benutzen, um Ihre Nutzung unserer Seite auszuwerten, um Reports über die
                Website-Aktivitäten für uns zusammenzustellen und um weitere mit der Website-Nutzung und der
                Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen
                gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese
                Daten im Auftrag von Google verarbeiten.
            </span>

            <span>
                Google wird, nach eigenen Angaben, in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in
                Verbindung bringen.
            </span>

            <span>
                Folgende Daten können dabei u.a. gespeichert werden:
            </span>

            <div class="list">
                <div class="item">
                    <div>
                        1.&nbsp;
                    </div>
                    <div>
                        Die aufgerufene Website
                    </div>
                </div>
                <div class="item">
                    <div>
                        2.&nbsp;
                    </div>
                    <div>
                        Die Website, von der der Nutzer auf die aufgerufene Website gelangt ist (Referrer)
                    </div>
                </div>
                <div class="item">
                    <div>
                        3.&nbsp;
                    </div>
                    <div>
                        Die Verweildauer auf der Website
                    </div>
                </div>
            </div>

        </div>

        <div class="foreign">

            <span>
                b) Rechtsgrundlage für die Datenverarbeitung
            </span>

            <span>
                Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten der Nutzer ist Art. 6 Abs. 1 lit. f
                DSGVO.
            </span>

        </div>

        <div class="foreign">

            <span>
                c) Zweck der Datenverarbeitung
            </span>

            <span>
                Die Verarbeitung der personenbezogenen Daten der Nutzer ermöglicht uns eine Analyse des Surfverhaltens
                unserer Nutzer. Wir sind durch die Auswertung der gewonnen Daten in der Lage, Informationen über die
                Nutzung der einzelnen Komponenten unserer Website zusammenzustellen. Dies hilft uns dabei, unsere
                Website und deren Nutzerfreundlichkeit stetig zu verbessern. In diesen Zwecken liegt auch unser
                berechtigtes Interesse in der Verarbeitung der Daten nach Art. 6 Abs. 1 lit. f DSGVO. Durch die
                Anonymisierung der IP-Adresse wird dem Interesse der Nutzer an deren Schutz personenbezogener Daten
                hinreichend Rechnung getragen.
            </span>

        </div>

        <div class="foreign">

            <span>
                d) Dauer der Speicherung
            </span>

            <span>
                Die Daten werden gelöscht, sobald sie für unsere Aufzeichnungszwecke nicht mehr benötigt werden. In
                unserem Fall werden die Daten nicht automatisch gelöscht, da nach Art. 6 Abs. 1 lit. F DSGVO ein
                berechtigtes Interesse zur Datenverarbeitung vorliegt und die Daten benötigt werden, um historische
                Nutzerdaten zur Erstellung von Zielgruppen (bspw. für Remarketing) beliebig lang genutzt werden können.
                Darüber hinaus können z.B. langfristige Analysen und fundierte Optimierungen durchgeführt werden.
            </span>

        </div>

        <div class="foreign">

            <span>
                e) Widerspruchs- und Beseitigungsmöglichkeit
            </span>

            <span>
                Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software
                verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
                Funktionen unserer Website vollumfänglich nutzen können.
            </span>

            <span>
                Des Weiteren bietet Google für die gängigsten Browser eine Deaktivierungsoption an, welche Ihnen mehr
                Kontrolle darüber gibt, welche Daten von Google erfasst und verarbeitet werden. Sollten Sie diese Option
                aktivieren, werden keine Informationen zum Website-Besuch an Google Analytics übermittelt. Die
                Aktivierung verhindert aber nicht, dass Informationen an uns oder an andere von uns gegebenenfalls
                eingesetzte Webanalyse-Services übermittelt werden. Weitere Informationen zu der von Google
                bereitgestellten Deaktivierungsoption sowie zu der Aktivierung dieser Option, erhalten Sie über
                nachfolgenden Link: Google Analytics Opt-Out
            </span>

        </div>

    </div>

    <div class="text text-sm">
        4.2 Hotjar
    </div>

    <div class="foreign-list text-xs">

        <div class="foreign">

            <span>
                a) Beschreibung und Umfang der Datenverarbeitung
            </span>

            <span>
                Diese Website nutzt Hotjar, ein All-in-one-Analyse- und Feedback-Tool, dass das Online-Verhalten und
                Feedback eines Website-Besuchers offenlegt. Durch den “Tracking-Code” und “Cookie” werden Informationen
                über Ihren Besuch auf unserer Website an Hotjar übermittelt und gespeichert.
            </span>

            <span>
                Folgenden Informationen können durch den “Tracking-Code” über Ihr Endgerät und den Browser erhoben
                werden:
            </span>

            <div class="list">
                <div>
                    1. IP-Adresse Ihres Endgeräts<br>
                    &nbsp;&nbsp;&nbsp;
                    (sie wird in anonymisiertem Format erhoben und gespeichert)
                </div>
                <div>2. Größe des Endgerätebildschirms</div>
                <div>3. Endgerätetyp (individuelle Endgeräteidentifizierungsmerkmale) und Browser-Informationen</div>
                <div>4. geografischer Standort (nur Land)</div>
                <div>5. bei der Anzeige der Website bevorzugte Sprache.</div>
            </div>

            <span>
                Folgende Protokolldaten können durch den “Tracking-Code” erfasst werden:
            </span>

            <div class="list">
                <div>1. verweisende Domain</div>
                <div>2. besuchte Seiten</div>
                <div>3. geografischer Standort (nur Land)</div>
                <div>4. bei der Anzeige der Website bevorzugte Sprache</div>
                <div>5. Datum und Zeit, wann auf die Seiten der Website zugegriffen wurde</div>
            </div>

            <span>
                Hotjar nutzt Cookies zur Erhebung nicht personenbezogener Daten einschließlich
                Standard-Internetprotokolldaten und Angaben zu Ihren Verhaltensmustern beim Besuch der Seiten unserer
                Website.
            </span>

        </div>

        <div class="foreign">

            <span>
                b) Rechtsgrundlage für die Datenverarbeitung
            </span>

            <span>
                Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten ist Art. 6 Abs. 1 lit. f DSGVO.
            </span>

        </div>

        <div class="foreign">

            <span>
                c) Zweck der Datenverarbeitung
            </span>

            <span>
                Wir evaluieren und analysieren mit diesem Tool das Nutzer-Feedback (wie Klicks, Mausbewegungen,
                Scroll-Höhen etc.), um unsere Website in ihrer Funktionalität und Nutzerfreundlichkeit zu verbessern und
                wertvoller und einfacher nutzbar zu machen.
            </span>

        </div>

        <div class="foreign">

            <span>
                d) Dauer der Speicherung
            </span>

            <span>
                Die personenbezogenen Daten werden gelöscht, sobald die maximale Speicherungsdauer von 365 Tagen
                abgelaufen ist.
            </span>

        </div>

        <div class="foreign">

            <span>
                e) Widerspruchs- und Beseitigungsmöglichkeit
            </span>

            <span>
                Sie haben die Möglichkeit, das Erheben Ihrer Daten auszuschalten, indem Sie sich hier abmelden.
            </span>

            <span>
                Weitere Informationen zu den Datenschutzrichtlinien von Hotjar finden Sie unter www.hotjar.com/privacy
            </span>

        </div>

    </div>

    <div class="text text-sm">
        4.3 Google AdWords Remarketing
    </div>

    <div class="foreign-list text-xs">

        <div class="foreign">

            <span>
                a) Beschreibung und Umfang der Datenverarbeitung
            </span>

            <span>
                Wir setzen auf unserer Website den Dienst Google Remarketing der Firma Google Inc., 1600 Amphitheatre
                Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“ ein. Mit Google-Remarketing können Anzeigen
                für Nutzer geschaltet werden, die unsere Website in der Vergangenheit bereits besucht haben. Innerhalb
                des Google-Werbenetzwerks können hierdurch an Ihre Interessen angepasste Werbeanzeigen auf unserer Seite
                dargestellt werden. Google Remarketing verwendet für diese Auswertung Cookies. Cookies sind kleine
                Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website
                ermöglicht. Hierdurch wird es ermöglicht, unsere Besucher wiederzuerkennen, sobald diese Websites
                innerhalb des Werbenetzwerks von Google aufrufen. Auf diese Weise können innerhalb des Werbenetzwerks
                von Google Werbeanzeigen präsentiert werden, die auf Inhalte bezogen sind, die der Besucher zuvor auf
                Websites des Werbenetzwerks von Google aufgerufen hat, die ebenfalls die Remarketing-Funktion von Google
                verwenden. Google erhebt hierbei nach eigenen Angaben keine personenbezogenen Daten. Nach Zweckfortfall
                und Ende des Einsatzes von Google AdWords Remarketing durch uns werden die in diesem Zusammenhang
                erhobenen Daten gelöscht.
            </span>

        </div>

        <div class="foreign">

            <span>
                b) Rechtsgrundlage für die Datenverarbeitung
            </span>

            <span>
                Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten mittels des Remarketing Cookies unter
                ist Art. 6 Abs. 1 lit. f DSGVO.
            </span>

        </div>

        <div class="foreign">

            <span>
                c) Zweck der Datenverarbeitung
            </span>

            <span>
                Sind Sie während des Seitenbesuchs auf unserer Website bei Google eingeloggt, verwendet Google Ihre
                Daten, um Zielgruppenlisten für geräteübergreifendes Remarketing zu erstellen und zu definieren. Anhand
                dieser Zielgruppen kann anschließend Werbung basierend auf zuvor angesehener Produkte, geschaltet
                werden. Diese Form von Werbung erfolgt vollkommen pseudonym. Es werden keine Nutzungsprofile mit Ihren
                personenbezogenen Daten zusammengeführt. Durch Nutzung unsere Seite willigen Sie ein, dass sogenannte
                Cookies eingesetzt und damit Nutzungsdaten von Ihnen erhoben, gespeichert und genutzt werden.
            </span>

        </div>

        <div class="foreign">

            <span>
                d) Dauer der Speicherung
            </span>

            <span>
                Die personenbezogenen Daten werden gelöscht, sobald die maximale Speicherungsdauer von 540 Tagen
                abgelaufen ist.
            </span>

        </div>

        <div class="foreign">

            <span>
                e) Widerspruchs- und Beseitigungsmöglichkeit
            </span>

            <span>
                Sie können die Funktionen bzgl. personalisierter Werbung deaktivieren, wenn Sie unter
                http://www.google.com/settings/ads die entsprechenden Einstellungen vornehmen.
            </span>

        </div>

    </div>

    <div class="text text-sm">
        4.4 Google AdWords Conversion Tracking
    </div>

    <div class="foreign-list text-xs">

        <div class="foreign">

            <span>
                a) Beschreibung und Umfang der Datenverarbeitung
            </span>

            <span>
                Wir setzen zur Bewerbung unserer Website ferner das Google Werbetool “Google AdWords” ein. Im Rahmen
                dessen verwenden wir auf unserer Website den Analysedienst “Conversion-Tracking” der Firma Google Inc.,
                1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“. Sofern Sie über eine
                Google-Anzeige auf unsere Website gelangt sind, wird ein Cookie auf Ihrem Rechner abgelegt. Cookies sind
                kleine Textdateien, die Ihr Internet-Browser auf Ihrem Rechner ablegt und speichert. Diese sog.
                “Conversion-Cookies” verlieren nach maximal 540 Tagen ihre Gültigkeit und dienen nicht Ihrer
                persönlichen Identifikation. Besuchen Sie bestimmte Seiten unserer Website und das Cookie ist noch nicht
                abgelaufen, können wir und Google erkennen, dass Sie als Nutzer auf eine unserer bei Google platzierten
                Anzeigen geklickt haben und zu unserer Seite weitergeleitet wurden.
            </span>

        </div>

        <div class="foreign">

            <span>
                b) Rechtsgrundlage für die Datenverarbeitung
            </span>

            <span>
                Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten mittels des Remarketing-Cookies unter
                ist Art. 6 Abs. 1 lit. f DSGVO.
            </span>

        </div>

        <div class="foreign">

            <span>
                c) Zweck der Datenverarbeitung
            </span>

            <span>
                Die mithilfe der “Conversion-Cookies” eingeholten Informationen dienen Google dazu, Besuchsstatistiken
                für unsere Website zu erstellen. Wir erfahren durch diese Statistik die Gesamtanzahl der Nutzer, die auf
                unsere Anzeige geklickt haben und zudem, welche Seiten unserer Website vom jeweiligen Nutzer im
                Anschluss aufgerufen wurden. Wir, bzw. andere über “Google AdWords” Werbende, erhalten jedoch keinerlei
                Informationen, mit denen sich Nutzer persönlich identifizieren lassen.
            </span>

        </div>

        <div class="foreign">

            <span>
                d) Dauer der Speicherung
            </span>

            <span>
                Die personenbezogenen Daten werden gelöscht, sobald die maximale Speicherungsdauer von 540 Tagen
                abgelaufen ist.
            </span>

        </div>

        <div class="foreign">

            <span>
                e) Widerspruchs- und Beseitigungsmöglichkeit
            </span>

            <span>
                Sie können die Installation der “Conversion-Cookies” durch eine entsprechende Einstellung Ihres Browsers
                verhindern, etwa per Browser-Einstellung, die das automatische Setzen von Cookies generell deaktiviert
                oder speziell nur die Cookies von der Domain “googleadservices.com“ blockiert.
            </span>

            <span>
                Die diesbezügliche Datenschutzerklärung von Google erhalten Sie unter nachfolgendem Link:
                https://services.google.com/sitestats/de.html
            </span>

        </div>

    </div>

    <div class="text text-sm">
        4.5 Facebook Pixel
    </div>

    <div class="foreign-list text-xs">

        <div class="foreign">

            <span>
                a) Beschreibung und Umfang der Datenverarbeitung
            </span>

            <span>
                Auf dieser Website wird das Besucheraktions-Pixel von Facebook für statistische Zwecke verwendet. Mit
                Hilfe eines Cookies kann so nachvollzogen werden, wie unsere Marketing-Maßnahmen auf Facebook
                aufgenommen und verbessert werden können. Über Ihr Einverständnis hiermit würden wir uns sehr freuen.
            </span>

            <span>
                Die erhobenen Daten sind für uns anonym, bieten uns also keine Rückschlüsse auf die Identität der
                Nutzer. Allerdings werden die Daten von Facebook gespeichert und verarbeitet, sodass eine Verbindung zum
                jeweiligen Nutzerprofil möglich ist und Facebook die Daten für eigene Werbezwecke, entsprechend der
                Facebook-Datenverwendungsrichtlinie (https://www.facebook.com/about/privacy/) verwenden kann.
            </span>

            <span>
                Sie können Facebook sowie dessen Partnern das Schalten von Werbeanzeigen auf und außerhalb von Facebook
                ermöglichen. Es kann ferner zu diesen Zwecken ein Cookie auf Ihrem Rechner gespeichert werden. Für
                weitere Informationen, die Verwaltung und Einstellungen bezüglich Ihrer Daten, klicken Sie bitte hier:
                https://www.facebook.com/privacy/explanation
            </span>

        </div>

        <div class="foreign">

            <span>
                b) Rechtsgrundlage für die Datenverarbeitung
            </span>

            <span>
                Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten mittels des Remarketing-Cookies unter
                ist Art. 6 Abs. 1 lit. f DSGVO.
            </span>

        </div>

        <div class="foreign">

            <span>
                c) Zweck der Datenverarbeitung
            </span>

            <span>
                Wir setzen innerhalb unseres Internetauftritts den “Besucheraktions-Pixel” der Facebook Inc., 1601 S.
                California Ave, Palo Alto, CA 94304, USA (“Facebook”) ein. So kann das Verhalten von Nutzern
                nachverfolgt werden, nachdem diese durch Klick auf eine Facebook-Werbeanzeige auf die Website des
                Anbieters weitergeleitet wurden. Dieses Verfahren dient dazu, die Wirksamkeit der Facebook-Werbeanzeigen
                für statistische und Marktforschungszwecke auszuwerten und kann dazu beitragen, zukünftige
                Werbemaßnahmen zu optimieren.
            </span>

        </div>

        <div class="foreign">

            <span>
                d) Dauer der Speicherung
            </span>

            <span>
                Die personenbezogenen Daten werden gelöscht, sobald die maximale Speicherungsdauer von 180 Tagen
                abgelaufen ist.
            </span>

        </div>

        <div class="foreign">

            <span>
                e) Widerspruchs- und Beseitigungsmöglichkeit
            </span>

            <span>
                Zur Deaktivierung von personalisierter Werbung durch Facebook klicken Sie bitte hier.
            </span>

        </div>

    </div>

    <div class="text text-sm">
        4.6 Google Tag Manager
    </div>

    <div class="foreign-list text-xs">

        <div class="foreign">

            <span>
                a) Beschreibung und Umfang der Datenverarbeitung
            </span>

            <span>
                Diese Website nutzt auch den Google Tag Manager. Dieser ist ein Tool von der Google Inc., 1600
                Amphitheatre Parkway, Mountain View, CA 94043 USA, um Tags mittels einer Oberfläche verwalten zu können.
                Der Tag Manager selbst erfasst keine personenbezogenen Daten, da er eine cookielose Domain ist. Das Tool
                löst lediglich andere Tags aus, die wiederum gegebenenfalls personenbezogene Daten erfassen können. Der
                Google Tag Manager greift in dem Fall aber nicht auf diese Daten zu. Falls eine Deaktivierung auf
                Domain- oder Cookie-Ebene veranlasst wurde, bleibt diese für alle mit dem Tag Manager implementierte
                Tracking-Tags bestehen.
            </span>

            <span>
                Weitere Informationen zu den Nutzungsbedingungen des Google Tag Managers finden Sie hier:
                https://www.google.de/tagmanager/use-policy.html
            </span>

        </div>

        <div class="foreign">

            <span>
                b) Widerspruchs- und Beseitigungsmöglichkeit
            </span>

            <span>
                Sie können der Datenerhebung und -speicherung zur Webanalyse durch den Tag Manager jederzeit
                widersprechen, indem Sie das Setzen von Cookies deaktivieren. Die Website wird dabei nach wie vor
                vollständig nutzbar bleiben. Damit ein dauerhafter Widerspruch vorgenommen wird, muss Ihr Browser
                permanente Cookies akzeptieren.
            </span>

        </div>

    </div>

</div>