$white: #ffffff;
$black: #000000;
$black-1: #212121;
$black-2: #13192d;
$blue-1: #004ba8;
$blue-2: #0977b7;
$blue-3: #185cb0;
$blue-4: #07489c;
$blue-5: #1e5fb2;
$blue-6: #0098db;

$font-lg: 70px;
$font-md: 35px;
$font-sm: 20px;
$font-xs: 18px;

$font-lg-1900: 60px;
$font-md-1900: 30px;
$font-sm-1900: 18px;
$font-xs-1900: 16px;

$font-lg-1600: 50px;
$font-md-1600: 28px;
$font-sm-1600: 17px;
$font-xs-1600: 15px;

$font-lg-1200: 40px;
$font-md-1200: 26px;
$font-sm-1200: 16px;
$font-xs-1200: 14px;

$font-lg-992: 36px;
$font-md-992: 24px;
$font-sm-992: 15px;
$font-xs-992: 13px;

$font-lg-768: 32px;
$font-md-768: 22px;
$font-sm-768: 14px;
$font-xs-768: 12px;

$font-lg-576: 30px;
$font-md-576: 20px;
$font-sm-576: 13px;
$font-xs-576: 11px;

$section-pl: 140px;
$section-pr: 140px;

$section-pl-1900: 120px;
$section-pr-1900: 120px;

$section-pl-1600: 100px;
$section-pr-1600: 100px;

$section-pl-1200: 90px;
$section-pr-1200: 90px;

$section-pl-992: 70px;
$section-pr-992: 70px;

$section-pl-768: 50px;
$section-pr-768: 50px;

$section-pl-576: 20px;
$section-pr-576: 20px;
