<footer class="footer section">

    <div class="container-fluid">

        <div class="row">

            <img class="logo" src="assets/img/_logo_footer.png">

            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li><a [routerLink]="['/about-us']">Über uns</a></li>
                    <li><a [routerLink]="['/solution/overview']">Lösungen</a></li>
                    <li><a [routerLink]="['/contact']">Kontakt</a></li>
                    <li><a [routerLink]="['/imprint']">Impressum</a></li>
                    <li><a [routerLink]="['/privacy']">Datenschutz</a></li>
                </ul>
            </nav>

            <div class="copyright">

                <p>© Copyright 2020</p>

            </div>

        </div>
    </div>

</footer>