<div class="row section">

    <div class="col-xl-6 col-12 left-panel">

        <div class="text-1 text-lg">
            <span>
                360° Kunden-
                orientierung
            </span>

            <span>
                360° Kundenorientierung
            </span>
        </div>

        <div class="text-2 text-sm">
            Wir verstehen die 360° kundenorientierte Bank als Begleiter des Kunden
            durch seine Lebenswelten. Das bedarf einer Vernetzung der
            Kundenlebenswelten.
        </div>

        <div class="text-3 text-sm">
            Mit unserer ROCC Core können Sie Ihre eigenen Angebote mit
            Partnerangeboten kombinieren. Dadurch schaffen Sie reale end-to-end-
            Lösungen auf einer Plattform, die Sie Ihren Kunden über diverse
            Zugangswege wie Web, Apps, Social Media oder in der Bankfiliale über
            den persönlichen Kundenberater anbieten können. Ihre Kunden können
            während des gesamten Geschäftsprozesses zwischen den
            verschiedenen Zugangskanälen wechseln, um einen Vorgang nahtlos
            fortzuführen. Bank sowie Kunde sparen Zeit und Ihr Kunde erhält
            vertrauenswürdige Angebote aus einer Hand.
        </div>
    </div>

    <div class="col-xl-6 col-12 right-panel">

        <!-- <img src="assets/img/home-3.png"> -->
        <div id="massimor_animation_container">
            <canvas id="massimor_canvas"></canvas>
            <div id="massimor_dom_overlay_container">
            </div>
        </div>
         <div onclick="massimor_init()" id="massimor_trigger-click"></div>
        <div id='_preload_div_'></div>
    </div>

</div>